<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Primary Meta Tags -->
    <title>Jiaqi (Christina) Tan | 谭嘉琪</title>
    <meta name="title" content="Christina Tan" />
    <meta name="description" content="" />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Christina Tan" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Christina Tan" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="/" />
    <meta property="twitter:title" content="Christina Tan" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" />


    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="canonical" href="" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', "", "auto");
        ga('send', "pageview");
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>


</head>

<style>
    .pub-img {
        float: left;
        padding-right: 20px;
        height: 100px;
    }

    .h3-title {
        font-weight: 700;
        font-family: sans-serif;
        margin: 0;
        color: #000000cf;
    }
    .blog-post-list{
        margin-bottom: 0;
    }

    #a-contact{
        padding-right: 10px;
        word-break:normal;
    }

    .item{
        width:15%;
        text-align:center;
        display:block;
        background-color: transparent;
        border: 1px solid transparent;
        margin-right: 10px;
        margin-bottom: 1px;
    }

    #index-gallery{
    width:465px;
    }
    item-bubble{
        float: left;
        width: 100px;
        height: 100px;
    }
</style>


<body>
    <header class="site-header">
        <div class="wrapper">
            <a class="site-title" href="/">
                <h3 class="h3-title">Jiaqi (Christina) Tan</h3>
                <!-- <img src="assets/img/title.png" alt="Christina Tan" /> -->
            </a>

            <nav class="site-nav">
                <a href="#" class="menu-icon"></a>

                <div class="menu">



                    <a class="page-link" href="/">
                        Home
                    </a>



                    <a class="page-link" href="../data/Jiaqi_CV.pdf">
                        CV
                    </a>



                    <!-- <a class="page-link" href="blog.html">
                        News
                    </a> -->

                </div>
            </nav>
        </div>
    </header>


    <div class="page-content">
        <div class="wrapper">
            <div class="home">
                <img src="data/jiaqi.JPG" alt="my-pic" class="profile-pic" />

                <!-- <h1>Jiaqi (Christina) Tan</h1> -->
                <p>
                    I'm a final year thesis-based master student in Computer Science at <a
                        herf="https://www.sfu.ca/">Simon Fraser University</a>. Currently, I am attached to the <a
                        href="https://gruvi.cs.sfu.ca/">GrUVi Lab</a> of SFU and supervised by professor <a
                        herf="https://msavva.github.io/">Manolis Savva</a>.
                </p>
                <p>
                    Prior to this, I received my Bachelor of
                    Computer Science Degree from <a herf="https://en.szu.edu.cn/">Shenzhen University</a>.

                    I am broadly interested in Computer Vision, 3D Scene Understanding, Reinforcement Learning, Embodied
                    AI, and Robotics.
                </p>



            </div>
            <div class="wrapper" style="padding-left: 0px;">
                <div class="footer-col-wrapper">

    
                    <div class="footer-col footer-col-3">

                      
                        <div class="social-links ">

                            <div class="social-link contact-links">

                                <img src="assets/img/icons/linkedin.png" alt="linkedin" />
                                <a id="a-contact" href="https://www.linkedin.com/in/jiaqi-tan-800697158/">
                                    LinkedIn
                                </a>


                                <img src="assets/img/icons/email.png" alt="email" />
                                <a id="a-contact" href="mailto:jiaqit@sfu.ca" id="email-link">
                                    jiaqit@sfu.ca
                                </a>

                                

                                <img src="assets/img/icons/github.png" alt="github" />
                                <a id="a-contact" href="https://github.com/ChristinaTan0704">
                                    GitHub
                                </a>
                            </div>

                        </div>
                    </div>
    
    
                </div>
            </div>
    
        </div>


    </div>





    <div class="page-content">
        <div class="wrapper">
            <div class="work">
                <h1>Publications</h1>



                <div class="work-item">
                    <img src="http://aspis.cmpt.sfu.ca/projects/mirrors/mirror3d_zip_release/img/readme_img/network-arch-cr-new.jpg"
                        alt="water" class="pub-img" />
                    <span class="work-text">
                        <a href="https://3dlg-hcvc.github.io/mirror3d/">
                            <h3 style="margin: 0;">Mirror3D: Depth Refinement for Mirror Surfaces</h3>
                        </a>
                        <p style="margin: 0;">Jiaqi Tan, <a href="">Weijie Lin</a>, <a
                                href="https://angelxuanchang.github.io/">Angel X.
                                Chang</a>, <a href="https://msavva.github.io/">Manolis Savva</a> </p>
                        <p style="margin: 0;"><b>CVPR 2021</b></p>
                        <p style="margin: 0;"><a href="">pdf</a> | <a href="https://youtu.be/XmrrK4JxF5Y">video</a> | <a
                                href="https://3dlg-hcvc.github.io/mirror3d/">project website</a> | <a
                                href="https://github.com/3dlg-hcvc/mirror3d">source code</a> </p>
                    </span>
                </div>



            </div>
        </div>
    </div>


    <!-- <div class="page-content">
        <div class="wrapper">
            <div class="work">
                <h1>Affiliations</h1>

                <div>
                    <div class="item">
                     <img
                      src="assets/img/work/sand.png"
                      alt="sand"
                      class="item-bubble"
                    />
                      <p>My Caption here</p>
                    </div>
                  
                    <div class="item">
                     <img
                      src="assets/img/work/sand.png"
                      alt="sand"
                      class="item-bubble"
                    />
                      <p>My Caption here</p>
                    </div>
                  
                    <div class="item">
                     <img
                      src="assets/img/work/sand.png"
                      alt="sand"
                      class="item-bubble"
                    />
                      <p>My Caption here</p>
                    </div>
                  
                    <div class="item">
                     <img
                      src="assets/img/work/sand.png"
                      alt="sand"
                      class="item-bubble"
                    />
                      <p>My Caption here</p>
                    </div>
                  </div>

                
            </div>
        </div>
    </div> -->


    <div class="page-content">
        <div class="wrapper">
            <div class="blog">
                <h1>News</h1>
                <p class="blog-post-list">
                    <span class="blog-post-date">May 2021</span>	
                    Received Athena Pathways Scholarship.
                </p>

                <p class="blog-post-list">
                    <span class="blog-post-date">Mar 2021</span>	
                    <a href="">Paper</a> on Mirror Refinement got accepted at CVPR 2021.
                </p>
                
                <p class="blog-post-list">
                    <span class="blog-post-date">Sep 2019</span>	
                    Joining Simon Fraser University as a master student.
                </p>

                <p class="blog-post-list">
                    <span class="blog-post-date">June 2019</span>	
                    Received excellent thesis award from Shenzhen University.
                </p>

                <p class="blog-post-list">
                    <span class="blog-post-date">Nov 2018</span>	
                    Joining SenseTime Lab as a research intern.
                </p>

                <p class="blog-post-list">
                    <span class="blog-post-date">July 2018</span>	
                    Joining HKBU as a summer intern.
                </p>

                <p class="blog-post-list">
                    <span class="blog-post-date">June 2018</span>	
                    Paper on Gait Recognition got accepted at CCBR 2018.
                </p>

                <p class="blog-post-list">
                    <span class="blog-post-date">Nov 2017</span>	
                    Received National Scholarship from China Scholarship Council.
                </p>



            </div>
        </div>
    </div>


    <footer class="site-footer">
        <div class="wrapper">
            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <h4>CONTACT</h4>

                    <div class="social-links">

                        <div class="social-link contact-links">


                            <img src="assets/img/icons/email.png" alt="email" />
                            <a href="mailto:jiaqit@sfu.ca" id="email-link">

                                jiaqit@sfu.ca

                            </a>
                        </div>


                        <div class="social-link contact-links">


                            <img src="assets/img/icons/wechat.png" alt="wechat" />
                            <a href="" id="wechat-link">

                                ChristinaTan0704

                            </a>
                        </div>


                    </div>
                </div>

                <div class="footer-col footer-col-2">
                    <h4>FOLLOW</h4>

                    <div class="social-links follow-links">

                        <div class="social-link">


                            <img src="assets/img/icons/github.png" alt="github" />
                            <a href="https://github.com/ChristinaTan0704">

                                GitHub

                            </a>
                        </div>


                        <div class="social-link">


                            <img src="assets/img/icons/linkedin.png" alt="linkedin" />
                            <a href="https://www.linkedin.com/in/jiaqi-tan-800697158/">

                                LinkedIn

                            </a>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </footer>










    <div id="wechat-widget">
        <p>
            Find me on WeChat with the ID <strong>ChristinaTan0704</strong>, or scan my QR code:
        </p>

        <img src="data/wechat.png" alt="QR code" id="qr-code" />
    </div>




    <script type="text/javascript" src="assets/js/vendor/cash-4.1.5.min.js"></script>
    <script type="text/javascript" src="assets/js/site.js"></script>

</body>

</html>